.banner {
	margin:0px;
	background-color: cyan;
	padding-top: 15px;
	padding-left: 15px;
}

.banner h1 {
	text-align: center;
	vertical-align: middle;
}

.tweet {
	margin: 10px;
	padding: 5px;
	color:white;
	background-color: gray;
	border-color:black;
	border-style: dashed;
}

.followers {
	width: 30%;
	float:left;
	border-color:black;
}


.feed {
	width: 50%;
	float:left;
}

.left {
	float:left;
	display: inline-block;
}

.right {
	float:right;
	display: inline-block;
}

.tweets {
	padding: 10px 5px;
	margin:5px;
	color: black;
	background-color: #BFBFBF;
	border-radius: 3px;
}

.active {
	padding: 10px 5px;
	margin:5px;
	color: white;
	background-color: #333333;
	border-radius: 3px;
}

.tweet-list {
	display: inline-block;
}