.banner {
	margin:0px;
	background-color: cyan;
	padding-top: 15px;
	padding-left: 15px;
}

.banner h1 {
	text-align: center;
	vertical-align: middle;
}

.tweet {
	margin: 10px;
	padding: 5px;
	color:white;
	background-color: gray;
	border-color:black;
	border-style: dashed;
}

.followers {
	width: 30%;
	float:left;
	border-color:black;
}


.feed {
	width: 50%;
	float:left;
}

.tweets {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin:5px;
	color: gray;
	border: 1px solid gray;
	border-radius: 5px;
}